<!DOCTYPE html>

<html>

<head>
    <title>เข้าสู่ระบบ</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    
</head>

<body>
    <div class="box">
        <div class="solid">
            <div class="header">    
                <h3>เข้าสู่ระบบ</h3>
            </div>
            <br>
           <form method="POST">
            <br>
            Username
            <input type="text" id="username" name="username"><br><br>
            Password
            <input type="password" id="password" name="password"><br><br>
            <button type="submit" class="button">เข้าสู่ระบบ</button> 
        </form>
        </div>
            </div>
            
   
</body>

</html>